@import url('https://fonts.googleapis.com/css2?family=Erica+One&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

#about_main_container {
    height: 100vh;
    background-color: #010326;
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6em;
    font-family: 'Montserrat', sans-serif;
}

#about_main_container h2 {
    color: #F26B1D;
    font-family: 'Erica One', sans-serif;
    font-size: 50px;
    text-shadow: 4px 4px 4px rgb(0, 0, 0)
}

.subtitle {
    font-size: 43px;
}

.description {
    font-size: 25px;
    font-weight: 700;
}

#about_main_container span {
    color: #F26B1D;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#about_main_container div {
    width: 50%;
}

#about_main_container .main_text {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 31px;
    margin: .7em 0;
}

#download {
    background: #F26B1D;
    border: 2px solid black;
}

#contact {
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
    border: 2px solid currentColor;
    margin-left: 43px;
}

#contact,
#download {
    border-radius: 6px;
    font-size: 20px;
    width: 173px;
    height: 44px;
    margin-top: .5em;
    cursor: pointer;
}

.image_content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image_content img {
    width: 50%;
    border-radius: 10px;
    box-shadow: 40px 40px #010326, 60px 60px rgb(255, 255, 255);
    /* box-shadow: 25px 25px white; */
}