#about_main_container {
    height: 100vh;
    background-color: #010326;
    color: #FFF;
    display: flex;
    align-items: center;
    padding: 6em;
    font-family: 'Montserrat', sans-serif;
}

#about_main_container h2 {
    color: #F26B1D;
    font-family: 'Erica One', sans-serif;
    font-size: 50px;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    font-weight: 400;
}

.subtitle {
    font-size: 43px;
}

.description {
    font-size: 25px;
    font-weight: 700;
}

#about_main_container span {
    color: #F26B1D;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#about_main_container div {
    width: 50%;
}

#about_main_container .main_text {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 31px;
    margin: .7em 0;
}

#download {
    background: #F26B1D;
    border: 2px solid black;
    transition: all .2s ease-in-out;
    color: black;
}

#contact {
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
    border: 2px solid currentColor;
    margin-left: 43px;
    transition: all .2s ease-in-out;
}

#contact,
#download {
    font-weight: 600;
    display: inline-block;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px;
    margin-top: .5em;
    text-decoration: none;
}

#download:hover {

    background-color: #cc5a18;
    transform: scale(0.9);
}

#contact:hover {
    background-color: #F26B1D;
    color: black;
    transform: scale(0.9);
}

.tech {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    filter: grayscale(1);
    transition: .5s;
}

.tech:hover {
    filter: grayscale(0);
}

.image_content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.image_content .profile_pic {
    width: 50%;
    border-radius: 10px;
    box-shadow: 40px 40px #010326, 60px 60px rgb(255, 255, 255);
}

.image_content .tech {
    height: 25%;
    z-index: 999;
    animation: rotate 2s linear infinite;
}

#react {
    animation: react 8s linear infinite;
}

#csharp {
    animation: csharp 9s linear infinite;
}

#golang {
    animation: golang 11s linear infinite;
}

@keyframes react {
    from {
        transform: rotate(0deg) translateX(350px);
    }

    to {
        transform: rotate(-360deg) translateX(350px);
    }
}

@keyframes csharp {
    from {
        transform: rotate(0deg) translateX(300px);
    }

    to {
        transform: rotate(-360deg) translateX(300px);
    }
}

@keyframes golang {
    from {
        transform: rotate(0deg) translateX(400px);
    }

    to {
        transform: rotate(-360deg) translateX(400px);
    }
}