#about_main_container {
    height: 100vh;
    background-color: #010326;
    color: #FFF;
    display: flex;
    align-items: center;
    padding: 6em;
    font-family: 'Montserrat', sans-serif;
}

#about_main_container h2 {
    color: #F26B1D;
    font-family: 'Erica One', sans-serif;
    font-size: 50px;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    font-weight: 400;
}

.subtitle {
    font-size: 43px;
}

.description {
    font-size: 25px;
    font-weight: 700;
}

#about_main_container span {
    color: #F26B1D;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#about_main_container div {
    width: 50%;
}

#about_main_container .main_text {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 31px;
    margin: .7em 0;
}

#download {
    background: #F26B1D;
    border: 2px solid black;
    transition: all .2s ease-in-out;
    color: black;
}

#contact {
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
    border: 2px solid currentColor;
    margin-left: 43px;
    transition: all .2s ease-in-out;
}

#contact,
#download {
    font-weight: 600;
    display: inline-block;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px;
    margin-top: .5em;
    text-decoration: none;
}

#download:hover {
    background-color: #cc5a18;
    transform: scale(0.9);
}

#contact:hover {
    background-color: #F26B1D;
    color: black;
    transform: scale(0.9);
}

.profile_pic {
    --color: #ffffff;
    --border: 10px;
    --offset: 20px;
    --gap: 5px;

    --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)), var(--color) 0;
    --_o: calc(3*var(--offset));
    padding:
        calc(var(--gap) + var(--border)) calc(var(--gap) + var(--border) + var(--offset)) calc(var(--gap) + var(--border) + var(--offset)) calc(var(--gap) + var(--border));
    background:
        linear-gradient(var(--_c)) var(--_o) var(--_o),
        linear-gradient(90deg, var(--_c)) var(--_o) var(--_o);
    background-size: calc(100% - var(--_o)) calc(100% - var(--_o));

    background-repeat: no-repeat;
    width: 50%;
}

.tech {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    filter: grayscale(1);
    transition: .5s;
}

.tech:hover {
    filter: grayscale(0);
}

.image_content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.image_content .tech {
    height: 25%;
    z-index: 999;
}

#react {
    animation: react 9s linear infinite;
}

#csharp {
    animation: csharp 8s linear infinite;
}

#golang {
    animation: golang 10s linear infinite;
}

@keyframes react {
    from {
        transform: rotate(0deg) translateX(370px);
    }

    to {
        transform: rotate(-360deg) translateX(370px);
    }
}

@keyframes csharp {
    from {
        transform: rotate(0deg) translateX(300px);
    }

    to {
        transform: rotate(-360deg) translateX(300px);
    }
}

@keyframes golang {
    from {
        transform: rotate(0deg) translateX(420px);
    }

    to {
        transform: rotate(-360deg) translateX(420px);
    }
}

.social {
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    transition: all 0.3s;
}

.social span {
    height: 54px;
    width: 54px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin-right: 28px;
}

.social span img {
    transition: .5s;
}

.social span:hover {
    transform: translateY(5px);
}

#linkedin {
    max-width: 100%;
    max-height: 100%;
}

#wapp {
    max-width: 90%;
    max-height: 90%;
}

#github {
    max-width: 100%;
    max-height: 100%;
}