@import url('https://fonts.googleapis.com/css2?family=Erica+One&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oleo+Script:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #010326;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #010326;
}

*::-webkit-scrollbar-thumb {
  background-color: #F26B1D;
}