#about_main_container {
    display: flex;
    color: #FFF;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    padding: 8% 5%;
}

.about_main_container_content h2 {
    color: #F26B1D;
    font-size: 4.2rem;
    font-weight: 400;
    font-family: 'Erica One', 'Oleo Script', sans-serif;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    margin: 0;
}

#upertitle {
    font-size: 3.6rem;
    margin: 0;
}

#subtitle {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0;
}

#upertitle span,
.main_text span {
    color: #F26B1D;
    font-weight: 700;
}

#about_main_container div {
    width: 50%;
}

#about_main_container .main_text {
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 3.8rem;
    margin: .7em 0;
}

#download {
    background: #F26B1D;
    border: 2px solid black;
    transition: all .2s ease-in-out;
    color: black;
}

#contact {
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
    border: 2px solid currentColor;
    margin-left: 5rem;
    transition: all .2s ease-in-out;
}

#contact,
#download {
    padding: 1.2rem 2.7rem;
    font-weight: 600;
    margin-top: 1rem;
    font-size: 1.6rem;
    border-radius: 6px;
    display: inline-block;
    text-decoration: none;
}

#download:hover {
    background-color: #cc5a18;
    transform: scale(0.9);
}

#contact:hover {
    background-color: #F26B1D;
    color: black;
    transform: scale(0.9);
}

.tech {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    filter: grayscale(1);
    transition: .5s;
}

.tech:hover {
    filter: grayscale(0);
}

.image_content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image_content .tech {
    height: 20%;
    z-index: 999;
}

#react {
    animation: react 9s linear infinite;
}

#csharp {
    animation: csharp 8s linear infinite;
}

#golang {
    animation: golang 10s linear infinite;
}


@keyframes react {
    from {
        transform: rotate(0deg) translateX(370px);
    }

    to {
        transform: rotate(-360deg) translateX(370px);
    }
}

@keyframes csharp {
    from {
        transform: rotate(0deg) translateX(300px);
    }

    to {
        transform: rotate(-360deg) translateX(300px);
    }
}

@keyframes golang {
    from {
        transform: rotate(0deg) translateX(420px);
    }

    to {
        transform: rotate(-360deg) translateX(420px);
    }
}


.social {
    display: flex;
    margin-top: 65px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    transition: all 0.3s;
}

.social span {
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin-right: 28px;
}

.social span img {
    transition: .5s;
}

.social span:hover {
    transform: translateY(5px);
}

#linkedin,
#wapp,
#github {
    width: 100%;
    height: 100%;
}

#profile_border {
    width: 100%;
    height: 100%;
    position: relative;
}

#profile_border div {
    height: 95%;
    width: 95%;
    z-index: -1;
    border: 6px solid white;
    border-radius: 10px;
    position: absolute;
    left: 15%;
    top: 15%;
}

#profile_border img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width:1400px) {
    @keyframes react {
        from {
            transform: rotate(0deg) translateX(250px);
        }

        to {
            transform: rotate(-360deg) translateX(250px);
        }
    }

    @keyframes csharp {
        from {
            transform: rotate(0deg) translateX(200px);
        }

        to {
            transform: rotate(-360deg) translateX(200px);
        }
    }

    @keyframes golang {
        from {
            transform: rotate(0deg) translateX(300px);
        }

        to {
            transform: rotate(-360deg) translateX(300px);
        }
    }

    #react,
    #csharp,
    #golang {
        height: auto;
        width: 10%;
    }
}

@media screen and (max-width: 1200px) {
    #about_main_container {
        flex-direction: column;
        margin-bottom: 10%;
    }

    #about_main_container>.about_main_container_content {
        padding: 5%;
        width: 100%;
    }

    @keyframes react {
        from {
            transform: rotate(0deg) translateX(250px);
        }

        to {
            transform: rotate(-360deg) translateX(250px);
        }
    }

    @keyframes csharp {
        from {
            transform: rotate(0deg) translateX(200px);
        }

        to {
            transform: rotate(-360deg) translateX(200px);
        }
    }

    @keyframes golang {
        from {
            transform: rotate(0deg) translateX(300px);
        }

        to {
            transform: rotate(-360deg) translateX(300px);
        }
    }

    .image_content {
        height: 100%;
        width: 100%;
        align-items: center;
    }

    .about_main_container_content>#profile_border {
        height: 60%;
        width: 60%;
    }

    #react,
    #csharp,
    #golang {
        height: auto;
        width: 8%;
    }
}

@media screen and (max-width: 800px) {
    .about_main_container_content {
        max-width: 100%;
    }

    #download,
    #contact {
        width: 100%;
        padding: 15px 15px;
        margin: 5px 0;
        text-align: center;
    }

    .image_content {
        width: 50%;
        height: 50%;
    }

    #react,
    #csharp,
    #golang {
        height: auto;
        width: 10%;
    }
}

@media screen and (max-width: 640px) {

    .about_main_container_content {

        width: 100%;
    }

    .social {
        width: 100% !important;
        justify-content: center;
        margin-top: 40px;
    }

    @keyframes react {
        from {
            transform: rotate(0deg) translateX(140px);
        }

        to {
            transform: rotate(-360deg) translateX(140px);
        }
    }

    @keyframes csharp {
        from {
            transform: rotate(0deg) translateX(120px);
        }

        to {
            transform: rotate(-360deg) translateX(120px);
        }
    }

    @keyframes golang {
        from {
            transform: rotate(0deg) translateX(160px);
        }

        to {
            transform: rotate(-360deg) translateX(160px);
        }
    }

    #react,
    #csharp,
    #golang {
        height: auto;
        width: 10%;
    }
}