#experience {
    background-color: #010326;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#experience_title {
    color: #FFF;
    text-align: center;
    font-family: 'Oleo Script', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    margin: 0;
    margin-bottom: 40px;
}

#experience_main_text {
    font-family: 'Montserrat', sans-serif;
    color: #8C8CA8;
    font-size: 2.2rem;
    font-weight: 400;
    width: 60%;
    line-height: 3.2rem;
    text-align: center;
}

#experience_wrapper {
    color: #FFF;
    padding: 5%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.experience_history {
    width: 40%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.role {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin: 2rem 0;
}

.info {
    color: #8C8CA8;
    line-height: 2rem;
    text-align: center;
    word-spacing: .4rem;
    line-height: 2.6rem;
    font-weight: 400;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    #experience_wrapper {
        margin-bottom: 100px;
    }

    .experience_history {
        width: 45%;
    }
}

@media screen and (max-width: 800px) {
    #experience_main_text {
        width: 80%;
        margin-top: 0;
    }

    .experience_history {
        width: 80%;
        height: auto;
        margin: 1.4rem 0;
    }

    #experience_wrapper {
        flex-direction: column;
        margin: 0;
    }
}