@import url('https://fonts.googleapis.com/css2?family=Erica+One&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oleo+Script:wght@400;700&display=swap');

*,
html,
body {
    scroll-behavior: smooth !important;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #010326;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #010326;
}

*::-webkit-scrollbar-thumb {
    background-color: #F26B1D;
}

body {
    background-color: #010326;
    font-size: 15px;
    box-sizing: border-box;
    margin: 0;
}

.reveal {
    position: relative;
    transform: translateX(-10em);
    opacity: 0;
    transition: all .5s;
}

.reveal.active {
    transform: translateX(0);
    opacity: 1;
}