:root {
    --default: #F26B1D;
    --width: 50px;
    --height: 50px;
}

.navbar {
    position: fixed;
    width: var(--width);
    height: var(--height);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    right: 30px;
    z-index: 999;
}

.navbar .fab {
    background: var(--default);
    width: var(--width);
    height: var(--height);
    position: relative;
    z-index: 3;
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fab-animation-reverse 0.4s ease-out forwards;
}

.navbar .fab::before,
.navbar .fab::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4px;
    background: #fff;
}

.navbar .fab::before {
    width: 4px;
    height: 18px;
}

.navbar .fab::after {
    width: 18px;
    height: 4px;
}

.navbar .fac {
    width: 20px;
    height: 170px;
    border-radius: 64px;
    position: absolute;
    background: #fff;
    z-index: 2;
    padding: 1rem 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0;
    top: -180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.2s ease-in, top 0.2s ease-in, width 0.1s ease-in;
}

.navbar .fac a {
    color: var(--default);
    opacity: 0.8;
    margin: 6px 0;
}

.navbar .fac a:hover {
    transition: 0.2s;
    opacity: 1;
    color: darken(#344955, 2%);
}

.navbar input {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    z-index: 5;
    opacity: 0;
}

.navbar input:checked~.fab {
    animation: fab-animation 0.4s ease-out forwards;
}

.navbar input:checked~.fac {
    width: 20px;
    height: 170px;
    animation: fac-animation 0.4s ease-out forwards 0.1s;
    top: -220px;
    opacity: 1;
}

@keyframes fab-animation {
    0% {
        transform: rotate(0) scale(1);
    }

    20% {
        transform: rotate(60deg) scale(0.93);
    }

    55% {
        transform: rotate(35deg) scale(0.97);
    }

    80% {
        transform: rotate(48deg) scale(0.94);
    }

    100% {
        transform: rotate(45deg) scale(0.95);
    }
}

@keyframes fab-animation-reverse {
    0% {
        transform: rotate(45deg) scale(0.95);
    }

    20% {
        transform: rotate(-15deg);
    }

    55% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0) scale(1);
    }
}

@keyframes fac-animation {
    0% {
        transform: scale(1, 1);
    }

    33% {
        transform: scale(0.95, 1.05);
    }

    66% {
        transform: scale(1.05, 0.95);
    }

    100% {
        transform: scale(1, 1);
    }
}

@media screen and (max-width:640px) {
    .navbar {
        right: 0;
        left: 10px;
        bottom: 20px;
    }
}