#projects {
    width: 100%;
}

#project_title {
    color: #FFF;
    font-family: 'Oleo Script', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
}

#wrapper {
    position: relative;
    margin: 3% auto;
    width: 80%;
}

#carousel {
    overflow: auto;
}

#carousel::-webkit-scrollbar {
    height: 0;
}

#prev,
#next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}

#prev {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    display: none;
}

#next {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}


#project_cards {
    display: grid;
    grid-gap: 3%;
    grid-auto-flow: column;
    margin: auto;
}

.card {
    border-radius: 4px;
    overflow: hidden;
    background-size: 100% 100%;
    transition: background-size 0.3s;
    background-position: center;

    height: 27vw;
    width: 18vw;
}

.coming_soon {
    background-image: url("/assets/projects/em_breve.png");
    background-color: #ECECEC;
}

.card_content {
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    font-size: 1.4em;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    max-height: 100%;
    width: 100%;
    padding: 4%;
}

.card_content_techs,
.card_content_links {
    width: 100%;
    height: auto;
}

.card_content img,
.card_content_techs img {
    width: 40%;
}

.card_content_links a {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
    font-weight: 600;
    border-radius: 6px;
    padding: 10px 14px;
    border: 2px solid #fff;
    width: 40%;
    margin: 0 4px;
    font-size: 1.6rem;
}

.link_disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.card:hover {
    background-size: 110% 110%;
    box-shadow: 0 0 0 250px rgba(0, 0, 0, 0.6) inset;
}

.card:hover .card_content {
    opacity: 1;
    transform: scale(1);
}

.card+p,
.card_content p {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 18px;
}

.card_content p {
    margin: 14px 6px;
    line-height: 20px;
    word-spacing: 4px;
    font-size: 1.6rem;
}

.card+p {
    text-align: start;
    font-size: 1.7rem
}


#xcommand {
    background-image: url('../assets/projects/Xcommand.png');
}

#budget_wise {
    background-image: url('../assets/projects/budgetwise.png');
}

#digi_api {
    background-image: url('../assets/projects/digiapi.png');
}

#food_nearby {
    background-image: url('../assets/projects/food_nearby.png');
}

@media screen and (max-width: 1536px) {
    .card_content p {
        font-size: 1.4rem;
    }

    .card_content_links a {
        font-size: 1.4rem;
    }

    .card_content img {
        width: 50%;
    }

    .card_content_techs img {
        width: 38%;
    }
}

@media screen and (max-width: 1200px) {
    .card_content p {
        font-size: 1.2rem;
    }

    .card_content_links a {
        font-size: 1.2rem;
    }

    .card_content img {
        width: 36%;
    }

    .card_content_techs img {
        width: 36%;
    }

    .card_content_links a {
        padding: 6px 8px;
    }

    .card_content p {
        margin: 10px 6px;
        line-height: 16px;
    }
}

@media screen and (max-width: 1000px) {
    .card {
        height: 34vw;
        width: 25vw;
    }

    #prev,
    #next {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .card_content p {
        font-size: 1rem;
    }

    .card_content_links a {
        font-size: 1rem;
    }

    .card_content img {
        width: 30%;
    }

    .card_content_techs img {
        width: 30%;
    }
}

@media screen and (max-width: 640px) {
    #project_cards {
        grid-gap: 5%;
    }

    .card+p {
        font-size: 1.4rem;
    }

    .card {
        height: 44vw;
        width: 30vw;
    }
}

@media screen and (max-width: 480px) {
    .card {
        height: 59vw;
        width: 42vw;
    }

    .card_content p {
        margin: 4px 6px;
    }
}