#skills_main_container h3 {
    color: #FFF;
    font-family: 'Oleo Script', sans-serif;
    font-weight: bold;
    font-size: 55px;
    text-align: center;
}

.skills_main_container_images {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 59px 92px;
    flex-wrap: wrap;
}

.hero_card {
    width: 160px;
    height: 150px;
    transition-duration: .5s;
    border-radius: 30px;
    /*50%*/
    background-color: white;
    margin-bottom: 20px;
}

.hero_card:not(:last-child) {
    margin-right: 50px;
}

.hero_card img {
    text-align: center;
    width: 100%;
    height: 100%;
}

.hero_card p {
    display: block;
    font-weight: 600;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 22px;
    margin: 0;
}

.hero_card:hover {
    transform: translateY(-25%);
}

#golang_card {
    background: linear-gradient(180deg, #266FAF 0%, rgba(217, 217, 217, 0.00) 100%);
}

#golang_card p span {
    color: #266FAF;
}

#golang_card:hover {
    box-shadow: 0 0 50px 15px #266FAF;
}

#javascript_card {
    background: linear-gradient(180deg, #DCB426 0%, rgba(217, 217, 217, 0.00) 100%);
}

#javascript_card p span {
    color: #DCB426;
}

#javascript_card:hover {
    box-shadow: 0 0 50px 15px #DCB426;
}

#csharp_card {
    background: linear-gradient(180deg, #64246F 0%, rgba(217, 217, 217, 0.00) 100%);
}

#csharp_card p span {
    color: #64246F;
}

#csharp_card:hover {
    box-shadow: 0 0 50px 15px #64246F;
}

#sass_card {
    background: linear-gradient(180deg, #8b0d3b 0%, rgba(217, 217, 217, 0.00) 100%);
}

#sass_card p span {
    color: #f73584;
}

#sass_card:hover {
    box-shadow: 0 0 50px 15px #8b0d3b;
}

#react_card {
    background: linear-gradient(180deg, #3853AA 0%, rgba(217, 217, 217, 0.00) 100%);
}

#react_card p span {
    color: #3853AA;
}

#react_card:hover {
    box-shadow: 0 0 50px 15px #3853AA;
}

#sql_card {
    background: linear-gradient(180deg, #3E4A58 0%, rgba(217, 217, 217, 0.00) 100%);
}

#sql_card p span {
    color: #3E4A58;
}

#sql_card:hover {
    box-shadow: 0 0 50px 15px #3E4A58;
}

#ts_card {
    background: linear-gradient(180deg, #47BFFE 0%, rgba(71, 191, 254, 0.00) 100%, rgba(71, 191, 254, 0.00) 100%);
}

#ts_card p span {
    color: #47BFFE;
}

#ts_card:hover {
    box-shadow: 0 0 50px 15px #47BFFE;
}

#figma_card {
    background: linear-gradient(180deg, #e64a0a 0%, rgba(71, 191, 254, 0.00) 100%, rgba(71, 191, 254, 0.00) 100%);
}

#figma_card p span {
    color: #e64a0a;
}

#figma_card:hover {
    box-shadow: 0 0 50px 15px #e64a0a;
}

@media screen and (max-width: 1200px) {
    .skills_main_container_images {
        justify-content: space-around;
    }

    .hero_card {
        margin: 20px 2% !important;
    }
}

@media screen and (max-width: 640px) {
    #skills_main_container {
        margin-bottom: 50px;
    }

    .skills_main_container_images {
        margin: 0px 0px;
        justify-content: center;
    }

    .hero_card {
        width: 140px;
        height: 130px;
    }
}